body {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

/* ####### Propriété Navbar ####### */

.logo {
    width: 71px;
    margin-right: 5px;
}

.logo-help {
    width: 25px;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px 5px 5px 5px;
    border-color: white;
    
}

.title-navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

/* #### Propriété de la Section ####*/

.section-1 {
    margin-top: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.section-2 {
    text-align: center;
    display: flex;
    justify-content: center;
}

/* #### Propriété des Boutons ####*/

.bouton-1 {
    background-color: white;
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: BoutonLoop infinite 5s;
    
}

.bouton-2 {
    background-color: white;
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: BoutonLoop infinite 5s;
    animation-delay: 1s;
}

.bouton-3 {
    background-color: white;
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: BoutonLoop infinite 5s;
    animation-delay: 2s;
}

.bouton-4 {
    background-color: white;
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: BoutonLoop infinite 5s;
    animation-delay: 3s;
}

.bouton-5 {
    background-color: white;
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: BoutonLoop infinite 5s;
    animation-delay: 4s;
}

.bouton-1:hover {
    background-color: darkgray;
    transform: scale(1.1);
    transition: 0.2s;
}

.bouton-2:hover {
    background-color: darkgray;
    transform: scale(1.1);
    transition: 0.2s;
}

.bouton-3:hover {
    background-color: darkgray;
    transform: scale(1.1);
    transition: 0.2s;
}

.bouton-4:hover {
    background-color: darkgray;
    transform: scale(1.1);
    transition: 0.2s;
}

.bouton-5:hover {
    background-color: darkgray;
    transform: scale(1.1);
    transition: 0.2s;
}

/*@keyframes BoutonLoop {
    30%{
        background-color: white;
        transform: scale(1.1);
    }

    80%{
        background-color: gray;
        transform: scale(1);
    }
}*/

/* #### Propriété du Footer ####*/

.footer-display {
    margin-top: 25%;
}

/* #### Propriété des crédits ####*/

.footer-name {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    animation: FooterName infinite 3s;
}

@keyframes FooterName {
    30%{
        color: black;
    }
    70%{
        color: white;
    }
}